Underscores in system certificate names and DNS

I've noticed that two of the core systems, namely the "service_registry" and "event_handler" have underscores in their names. This means that these two systems have the following _Common Names_ (CNs) in the __subject distinguished name__ field of their certificates:

- `service_registry.<cloud>.<company>.arrowhead.eu` and
- `event_handler.<cloud>.<company>.arrowhead.eu`.

These names are whitelisted by the core systems, giving the systems having them access to the private endpoints of the core services, which implies that these names cannot, as of today, be trivially changed by users. 

Underscore is not a valid DNS name character, which makes it impossible to use the CNs as DNS names. This means that DNS lookup using the names becomes impossible (unless the Subject Alternative Name extension is used), which is likely going to be a requirement in many industrial contexts. In addition, it prevents the use of certain x.509 extensions, such as the [_Name Constraints_](https://tools.ietf.org/html/rfc5280#section-4.2.1.10) extension.

The dot-separated labels of a DNS name must each satisfy this regular expression:  [`^[A-Za-z](?:[0-9A-Za-z-]*[0-9A-Za-z])?$`](https://regexr.com/51643)) (see also [RFC 1035, Section 2.3.1](https://tools.ietf.org/html/rfc1035#section-2.3.1)).

Additionally, no new system can contain underscore in their system name, in compliance with the naming convention.

bump

Resolved by rbocsi at arrowhead-f/core-java-spring branch. Waiting for review and close.